<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RestaurantAPI - Available Apps</title>
</head>
<body>
<h1>Welcome to the base page of Restaurant API</h1>
<p>The two endpoints currently supported are - <a href = "http://127.0.0.1:5000/api/v1.0/restaurants" target="_blank">/api/v1.0/restaurants/</a>
    and <a href = "http://127.0.0.1:5000/api/v1.0/foods" target="_blank">/api/v1.0/foods/</a><p>

<p>Click Documentation Link below for the Detailed list of REST endpoints</p>
<p><a href="http://restaurantapi.readthedocs.io/en/latest/">Documentation (Recommended)</a></p>

</body>
</html>
